body {
  background-color: #1e6567;
  color: #cff8fa;
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

.lake-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lake-row {
  max-width: 560px;
  width: 48%;
  margin: 20px;
  padding: 20px;
  border: 1px double #cff8fa;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.lake-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
}

a {
  display: block;
  text-align: center;
  margin-top: 8px;
  text-decoration: none;
  color: #cff8fa;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.footer-content {
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  margin: 5px 0;
}

/* Media Query dla ekranów o szerokości 560px do 1270px */
@media (min-width: 561px) and (max-width: 1270px) {
  .lake-row {
    width: 48%;
  }
}

/* Media Query dla ekranów o szerokości 560px lub mniejszej */
@media (max-width: 560px) {
  .lake-row {
    width: 100%;
  }
}

